/* Table of post
==================================================
  #Background Image
  #Logo and Sidebar
  #Mods
  #Post View
  #Post List
  #Events
  #Twitter
  #Pages
  #Footer
  #Media Queries 
  #Bootstrap Tables
================================================== */
/*Background Image/////////////////////////////*/
#gallery-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*Optionally make an image background. Advise to lower opacity also; depending on situation 
    /*background-image: url("http://25.media.tumblr.com/671b8e3267c91e1b3bbc71609dad5b3c/tumblr_mrshxgD8No1sfie3io1_1280.jpg");*/
    background-repeat: repeat-x;
    opacity: 1;
    background-size: cover;
    border-top: 2px #F24A49 solid;

}
/*Logo and Sidebar/////////////////////////////*/
.logo {
    font-family:  "Lato","Helvetica Neue";
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    opacity: 1;
    text-decoration: none;

}

.logo:hover {
    color:#F24A49;
}

.social {
    text-decoration: none;
    font-size: 1em;
    vertical-align: center;
    font-family: "Lato";

}


.sidebar {
    position: fixed;
    margin-top: 95px; 
}

nav {
    width: 160px;
}



nav ul {
    float: left;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a,nav ul li a:visited,nav ul li a:active {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover,nav ul li a:focus {
    color: #fff;
}



.about {
    font-size: 1.5em;
    line-height: 150%;
    margin-top: 30px;
}

/*Mods/////////////////////////////*/

.lighter {
  opacity: .4;
}

.thicker {
    opacity: .4;
    border: 3px white solid;
}
.red {
    color: #b30100;
    opacity: 1;
}
.red:hover {
    color: #ff0027;
}

.large {
border-width: 4px 0 0; 
opacity: .8;
margin-bottom: 100px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

sup {font-size:xx-small; vertical-align:top;
}


/*Post View/////////////////////////////*/

.post-view {
    background-color: rgb(248, 248, 248);
    color: #000;
}
.post {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 700px;
}
.post p {
    line-height: 180%;
    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
    color: #626262;
}


.post a  {
        color: #e41400;

}


.post a:visited {
    color: #9c0003;
}

.post li, .post a {
    font-family: "Merriweather", "Lato" , "Georgia", "Times New Roman", serif;
    }

.post h1, .post h2, .post h3, .post h4, .post h5,.post  h6{
        margin-bottom: 30px;
        color: #1c1c1b;
        font-family:"Lato", "Lustria","Georgia", "Times New Roman", serif;
        text-shadow: rgb(255, 255, 255) 0px 1px 0px;

}

.cover-image {
    float: right;  margin-top:-38px; background-color: #000; background-image: url({{ page.header }});  background-size: 100% 100%; height: 300px; border-bottom:solid 1px #fff;
}
/*Post list: homepage ===============*/
.go-to-top {
    bottom: 10px; right: 0; float: right; position: fixed; opacity: .5;
}
.go-to-top:hover {
    opacity: 1;
}
.recent-posts {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: .4;
  font-size: smaller;
  margin-top: -10px;
  margin-bottom: 30px;
}
.post-list a {
    text-decoration: none;
    opacity: .4;
}

.post-list :hover {
    text-decoration: none;
    opacity: 1;
}

.date {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.3em;
  float: right;

}


.all-date {
 font-weight: 200;
  text-transform: uppercase;
  font-size: smaller;
  float: right; opacity: .7;


}

.spanlighter {
    color: #6f6f6c;
    display: inline;
}

img { 
padding-bottom: 30px;
width: 100%;
height: 100%;
}



/*Events/////////////////////////////*/
.event-logo {
    width: 100px;
    height: 100px;
    background-color: #6f6f6c;
    display: inline;
    margin-right: 50px;

  }


/*==================================*/

/*Twitter/////////////////////////////*/

.twitter-share-button {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Pages/////////////////////////////*/

.pagenav-link {
    color: #000; 
    background-color: #b6b8b8;
    padding: 12px 15px 13px 15px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: "Lato";
    font-weight: bolder;
    width: 80px;
    opacity: 1;
}

.pagenav-link:hover{
        background-color: #282828;
}

/*Code/////////////////////////////*/


code {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 80%;
    border: solid 1px #fbe5c3;
    background-color: #fbe5c3;
    border-radius: 3px;
    width: 100%;
}

code,kbd,pre,samp {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre code {
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-style: solid;
border-left-width: 1px;
border-right-style: solid;
border-right-width: 1px;
border-top-style: solid;
border-top-width: 1px;
border-color: #d0d0d0;
color: #383838;
display: block;
height: auto;
line-height: 22px;
margin-bottom: 20px;
margin-bottom: 20px;
overflow-x: auto;
overflow-y: auto;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
vertical-align: baseline;
white-space: pre;
width: auto;
background-color: #ededed;
}
/*===========All Posts List */
#numbers { 
    font-family: "Helvetica Neue";
    font-weight: 800;
    font-size: 20px;
    border: 5px solid #464645;
    border-radius:225px;
    color: #1c1c1b;
    background-color: #818180; 
    height: auto;
    width: auto;
    text-align: center;
    vertical-align: center;
    display: inline;
    margin-right: 20px;
}



.about li {
    margin-bottom: 40px;
}


/*============Footer */
footer {
    font-size: 12px;
    margin-top: 30px;
    font-weight: 400;
    color: #4a4b47;
    font-family: "Lato","Helvetica",Arial;
}

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */

@media (max-width:767px) {
.sidebar {
    position: relative;
    padding-bottom: 20px;
}

.go-to-top {
    bottom:30px; left: 92%;  position:fixed;
}

.post p { font-size: 1em;}

.post {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 700px;
}
 p img { margin-left: 0; float: left; width: 100%;}

}
@media only screen and max-width 959px {
    

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and min-width 768px and max-width 959px {
    
.sidebar {
    position: relative;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and max-width 767px {
    .sidebar {
    position: relative;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and min-width 480px and max-width 767px {
    
.sidebar {
    position: relative;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and max-width 479px {
    
.sidebar {
    position: relative;
}
}



/* Tables from Bootstrap
=========================================== */
table {
    max-width: 100%;
    background-color: transparent;
    opacity: .7;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,.table > colgroup + thead > tr:first-child > th,.table > thead:first-child > tr:first-child > th,.table > caption + thead > tr:first-child > td,.table > colgroup + thead > tr:first-child > td,.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.table-condensed > thead > tr > th,.table-condensed > tbody > tr > th,.table-condensed > tfoot > tr > th,.table-condensed > thead > tr > td,.table-condensed > tbody > tr > td,.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td,.table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th {
    background-color: rgba(0,0,0,.3);
}

table col[class*=col-] {
    display: table-column;
    float: none;
}

table td[class*=col-],table th[class*=col-] {
    display: table-cell;
    float: none;
}

.table > thead > tr > td.active,.table > tbody > tr > td.active,.table > tfoot > tr > td.active,.table > thead > tr > th.active,.table > tbody > tr > th.active,.table > tfoot > tr > th.active,.table > thead > tr.active > td,.table > tbody > tr.active > td,.table > tfoot > tr.active > td,.table > thead > tr.active > th,.table > tbody > tr.active > th,.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.table > thead > tr > td.success,.table > tbody > tr > td.success,.table > tfoot > tr > td.success,.table > thead > tr > th.success,.table > tbody > tr > th.success,.table > tfoot > tr > th.success,.table > thead > tr.success > td,.table > tbody > tr.success > td,.table > tfoot > tr.success > td,.table > thead > tr.success > th,.table > tbody > tr.success > th,.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,.table-hover > tbody > tr > th.success:hover,.table-hover > tbody > tr.success:hover > td,.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.table > thead > tr > td.danger,.table > tbody > tr > td.danger,.table > tfoot > tr > td.danger,.table > thead > tr > th.danger,.table > tbody > tr > th.danger,.table > tfoot > tr > th.danger,.table > thead > tr.danger > td,.table > tbody > tr.danger > td,.table > tfoot > tr.danger > td,.table > thead > tr.danger > th,.table > tbody > tr.danger > th,.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,.table-hover > tbody > tr > th.danger:hover,.table-hover > tbody > tr.danger:hover > td,.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

.table > thead > tr > td.warning,.table > tbody > tr > td.warning,.table > tfoot > tr > td.warning,.table > thead > tr > th.warning,.table > tbody > tr > th.warning,.table > tfoot > tr > th.warning,.table > thead > tr.warning > td,.table > tbody > tr.warning > td,.table > tfoot > tr.warning > td,.table > thead > tr.warning > th,.table > tbody > tr.warning > th,.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,.table-hover > tbody > tr > th.warning:hover,.table-hover > tbody > tr.warning:hover > td,.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

@media max-width 767px {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #ddd;
        -ms-overflow-style: 0;
        -webkit-overflow-scrolling: touch;
    }
    
    .table-responsive > .table {
        margin-bottom: 0;
    }
    
    .table-responsive > .table > thead > tr > th,.table-responsive > .table > tbody > tr > th,.table-responsive > .table > tfoot > tr > th,.table-responsive > .table > thead > tr > td,.table-responsive > .table > tbody > tr > td,.table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    
    .table-responsive > .table-bordered {
        border: 0;
    }
    
    .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > tbody > tr > th:first-child,.table-responsive > .table-bordered > tfoot > tr > th:first-child,.table-responsive > .table-bordered > thead > tr > td:first-child,.table-responsive > .table-bordered > tbody > tr > td:first-child,.table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    
    .table-responsive > .table-bordered > thead > tr > th:last-child,.table-responsive > .table-bordered > tbody > tr > th:last-child,.table-responsive > .table-bordered > tfoot > tr > th:last-child,.table-responsive > .table-bordered > thead > tr > td:last-child,.table-responsive > .table-bordered > tbody > tr > td:last-child,.table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    
    .table-responsive > .table-bordered > tbody > tr:last-child > th,.table-responsive > .table-bordered > tfoot > tr:last-child > th,.table-responsive > .table-bordered > tbody > tr:last-child > td,.table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }

}